html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: Kanit;
  font-weight: 100;
  font-style: normal;
  src: url("/new/fonts/Kanit-Thin.ttf");
}

@font-face {
  font-family: Kanit;
  font-weight: 100;
  font-style: italic;
  src: url("/new/fonts/Kanit-ThinItalic.ttf");
}

@font-face {
  font-family: Kanit;
  font-weight: 200;
  font-style: normal;
  src: url("/new/fonts/Kanit-ExtraLight.ttf");
}

@font-face {
  font-family: Kanit;
  font-weight: 200;
  font-style: italic;
  src: url("/new/fonts/Kanit-ExtraLightItalic.ttf");
}

@font-face {
  font-family: Kanit;
  font-weight: 300;
  font-style: normal;
  src: url("/new/fonts/Kanit-Light.ttf");
}

@font-face {
  font-family: Kanit;
  font-weight: 300;
  font-style: italic;
  src: url("/new/fonts/Kanit-Italic.ttf");
}

@font-face {
  font-family: Kanit;
  font-weight: 400;
  font-style: normal;
  src: url("/new/fonts/Kanit-Regular.ttf");
}

@font-face {
  font-family: Kanit;
  font-weight: 500;
  font-style: normal;
  src: url("/new/fonts/Kanit-Medium.ttf");
}

@font-face {
  font-family: Kanit;
  font-weight: 500;
  font-style: italic;
  src: url("/new/fonts/Kanit-MediumItalic.ttf");
}

@font-face {
  font-family: Kanit;
  font-weight: 600;
  font-style: normal;
  src: url("/new/fonts/Kanit-SemiBold.ttf");
}

@font-face {
  font-family: Kanit;
  font-weight: 600;
  font-style: italic;
  src: url("/new/fonts/Kanit-SemiBoldItalic.ttf");
}

@font-face {
  font-family: Kanit;
  font-weight: 700;
  font-style: normal;
  src: url("/new/fonts/Kanit-Bold.ttf");
}

@font-face {
  font-family: Kanit;
  font-weight: 700;
  font-style: italic;
  src: url("/new/fonts/Kanit-BoldItalic.ttf");
}

@font-face {
  font-family: Kanit;
  font-weight: 800;
  font-style: normal;
  src: url("/new/fonts/Kanit-ExtraBold.ttf");
}

@font-face {
  font-family: Kanit;
  font-weight: 800;
  font-style: italic;
  src: url("/new/fonts/Kanit-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: Kanit;
  font-weight: 900;
  font-style: normal;
  src: url("/new/fonts/Kanit-Black.ttf");
}

@font-face {
  font-family: Kanit;
  font-weight: 900;
  font-style: italic;
  src: url("/new/fonts/Kanit-BlackItalic.ttf");
}
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}
.react-datepicker__input-container div {
  border-radius: 30px;
  height: 35px;
  padding-right: 9px;
  padding-left: 10px;
  border-radius: 60px;
  border: 1px solid #ced4da;
}
.react-datepicker-popper {
  z-index: 2222222 !important;
}
.react-datepicker__input-container label {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-family: kanit;
  color: #808285;
}
td {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-family: kanit;
  color: #3a3a3a;
}
th {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-family: kanit;
  color: #3a3a3a;
}

.modal-header {
  border-bottom: 0 none !important;
}

.modal-footer {
  border-top: 0 none !important;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 3px solid #f7f7f7;
  margin: 0 0 10px;
  padding: 0;
  padding-top: 1em;
}

.react-tabs__tab {
  font-size: 24px;
  font-weight: 500;
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 500;
  font-family: kanit;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 3px solid #f7f7f7;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: #0092ff;
  border-radius: 5px 5px 0 0;
  font-size: 24px;
  font-weight: 500;
  font-family: kanit;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 3px solid #0092ff;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.custom-modal-style {
  width: 897px;
  height: 650px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationItem {
  padding: 10px 15px;
  border: none;
  height: 45px;
  width: 45px;
  position: relative;
  cursor: pointer;
  background-color: transparent;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* color: #ced4da; */
}

.Wrapper {
  transform: translate3d(-191px, 24px, 0px) !important;
}
.WrapperZeroNoti {
  transform: translate3d(190px, 24px, 0px) !important;
}
/* .prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: blue;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
} */
.div-datepicker input {
  display: block;
}
.rdt .form-control {
  border-radius: 30px;
}
.paginationItem.active {
  pointer-events: none;
  color: #004c85;
}

.paginationItem.inactive {
  color: #ced4da;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
}

.filter-gray {
  filter: invert(88%) sepia(8%) saturate(193%) hue-rotate(169deg)
    brightness(98%) contrast(85%);
}
