$sidebar-bg-color: #004c85;
$submenu-bg-color: #004c85;
$submenu-bg-color-collapsed: rgba(#0c1e35, 0.95);
$sidebar-color: #b3b8d4;
$highlight-color: #dee2ec;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;
$sidebar-width: 100%;

@import "~react-pro-sidebar/dist/scss/styles.scss";
